body{
  font-family: 'Averta';
}
.table-color{
    background-color: #00796b;
    color: aliceblue;
    text-align: left;
  }
.seleccionar .page-link{
    z-index: 3;
  color: #fff;
  background-color: #00796b;
  border-color: #00796b
}
.titulo th{
  text-align: center;
}

.btn-delete{
  padding: 0;
  border: none;
  background: none;
}

.icon{
  color: black;
}